<tr>
    <td align="{{ align }}" class="social">
        <table class="social-container" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td class="social-item" align="{{ align }}">
                    <a
                        class="social-link"
                        href="https://twitter.com/JibrelNetwork"
                        target="_blank"
                        title="{{i18n @global.translation 'email.template.social.twitter.title'}}"
                    >
                        <img src="images/ic_twitter_24.png" width="24" height="24" alt="{{i18n @global.translation 'email.template.social.twitter.title'}}">
                    </a>
                </td>
                <td class="social-item" align="{{ align }}">
                    <a
                        class="social-link"
                        href="https://www.facebook.com/jibrelnetwork/"
                        target="_blank"
                        title="{{i18n @global.translation 'email.template.social.facebook.title'}}"
                    >
                        <img src="images/ic_facebook_24.png" width="24" height="24" alt="{{i18n @global.translation 'email.template.social.facebook.title'}}">
                    </a>
                </td>
                <td class="social-item" align="{{ align }}">
                    <a
                        class="social-link"
                        href="https://medium.com/@jibrelnetwork"
                        target="_blank"
                        title="{{i18n @global.translation 'email.template.social.medium.title'}}"
                    >
                        <img src="images/ic_medium_24.png" width="24" height="24" alt="{{i18n @global.translation 'email.template.social.medium.title'}}">
                    </a>
                </td>
                <td class="social-item" align="{{ align }}">
                    <a
                        class="social-link"
                        href="https://t.me/jibrel_network"
                        target="_blank"
                        title="{{i18n @global.translation 'email.template.social.telegram.title'}}"
                    >
                        <img src="images/ic_telegram_24.png" width="24" height="24" alt="{{i18n @global.translation 'email.template.social.telegram.title'}}">
                    </a>
                </td>
                <td class="social-item" align="{{ align }}">
                    <a
                        class="social-link"
                        href="https://open.kakao.com/o/gxNSV4pb"
                        target="_blank"
                        title="{{i18n @global.translation 'email.template.social.kakaotalk.title'}}"
                    >
                        <img src="images/ic_kakaotalk_24.png" width="24" height="24" alt="{{i18n @global.translation 'email.template.social.kakaotalk.title'}}">
                    </a>
                </td>
            </tr>
        </table>
    </td>
</tr>
<tr>
    <td align="{{ align }}" class="unsubscribe">
        <p>{{{i18n @global.translation 'email.template.unsubscribe'}}}</p>
    </td>
</tr>
<tr>
    <td align="{{ align }}" class="copyright">
        <p>{{{i18n @global.translation 'email.template.copyright'}}}</p>
    </td>
</tr>
